<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos" :title="'asdf'">
                {{ todo }}
            </li>
        </ol>
        <button v-on:click="f()">asd</button>
    </div>

    <script>

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    '学习 JavaScript',
                    '学习 Vue',
                    '整个牛项目'
                ]
            },
            methods: {
                f: function () {
                    this.todos.push(this.todos.length);
                }
            }

        })

    </script>

    <form method="POST">
        <input name="qwe" />
        <button type="submit">{{button_name}}</button>

    </form>

</body>

</html>